html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 728px;
  height: 600px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #000;
  background: #000; }
  #mainContent img,
  #mainContent div {
    position: absolute; }

#mainAnim {
  width: 728px;
  height: 377px;
  left: -1px;
  top: 0px; }

#mainAnim2 {
  width: 728px;
  height: 377px;
  left: 301px;
  top: 0px; }

#copyOne {
  width: 545px;
  height: 90px;
  left: 101px;
  top: 500px; }

#bgExit {
  top: 0;
  left: 0;
  width: 728px;
  height: 600px; }
