@import "_config";
@import "_mixins";

body {
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#mainContent {
    position: relative;

    width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: border-box;

    cursor: pointer;


    border: 1px solid #000;
    background: $backgroundColor;


    img,
    div {
        position: absolute;
    }
}
#mainAnim{
    width: $width;
     height: 377px;
     left: -1px;
    top: 0px;
}
#mainAnim2{
    width: $width;
     height: 377px;
     left:301px;
    top: 0px;
}
#copyOne{
    width:545px;
    height:90px;
    left:101px;
    top:500px;
}
#bgExit {
    top: 0;
    left: 0;

    width: $width;
    height: $height;
}
